.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

.attach {
  margin-left: 50%;
  position: relative; 
}

.policy {
  margin-left: 10%;
  text-align: justify;
}

.dropdown {
  width: 450px;
  height: 30px;
  margin: 20px;
}

.goal {
  width: 800px;
  margin: 10px;
}

.textfield1 {
  width: 200px;
  height: 30px;
}

.textfield {
  right: 150%;
  height: 30px;
}

.date {
  height: 30px;
  margin: 15px;
}

.textarea {
  width: 600px;
}

.d {
  margin: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.label {
  margin-left: 4.5rem; 
}

.App-link {
  color: #61dafb;
}

.special {
  color:black;
  background:rgb(188, 236, 240);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
