.entry{
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    display: flex;
    justify-content: space-around;
    background: white;
    align-items: center;
    width: 90%;
    left:40%;
    
}